/* *** Fonts *** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* *** Variables *** */
:root {
    --poppins: 'poppins', sans-serif;
    --theme-color: #3B1CFF;
    --text-theme-color: #1C5BFF;
    --secondary-theme-color: #D9D9D9;
    --tertiary-theme-color: #ECECEC;
}

/* *** Utilities *** */
.font-poppins {
    font-family: var(--poppins);
}

.bg-theme-color {
    background-color: var(--theme-color);
}

.text-theme-color {
    color: var(--text-theme-color);
}

.bg-secondary-theme {
    background-color: var(--secondary-theme-color);
}

.color-theme {
    color: var(--theme-color);
}

.bg-tertiary-theme {
    background-color: var(--tertiary-theme-color);
}

/* *** Do to all *** */
* {
    font-family: var(--poppins);
}

/* *** Login Form *** */
#username, #password {
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}